
:root{
    --countdownBtnsHeight: 40vh;
    --cycleTabatBtnHeight: 16vh;
    --miscBtnsHeight: 10vh;
    --startStopBtnHeight: 13.5vh;
    --mobile-width: 90vw;
    --mobile-border-radius: 2.5vh;

    --medium-screen-width: 70vw;

    --large-screen-width: 40vw;

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Flexbox classes */
.verticalContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vh;
}

.margintop-5vh{
    margin-top: 5vh;
}

.horizontalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: var(--mobile-width);
}

/* MOBILE FIRST */
/* PREPARE-WORK-REST*/
.countdownBtn{
    width: var(--mobile-width);
    height: calc(var(--countdownBtnsHeight)/3.2);
    border-radius: var(--mobile-border-radius);
    margin: 0.5vh;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.countdownBtnItems{
    margin: 0 5vw;
    font-size: 8vw;
    font-weight: bold;
    letter-spacing: -1px;
}


.countdownDisplayItems{
    margin: 0 5vw;
    font-size: 25vw;
    font-weight: bold;
    line-height: calc(var(--countdownBtnsHeight)*0.8);;
}


.prepare{
    background-color:gold;
    border-style: solid;
    border-width: 1vw;
    border-color: goldenrod;
}

.work{
    background-color: rgb(123, 195, 15);
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(0, 96, 0);
}

.rest{

    background-color: red;
    border-style: solid;
    border-width: 1vw;
    border-color: crimson;
}

.wait{

    background-color: blue;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(2, 2, 137);
}

/* TABATAS-CYCLES*/

.tabatas,.cycles{
    background-color: whitesmoke;
    width: calc(var(--mobile-width)/2.4);
    height: var(--cycleTabatBtnHeight);
    border-radius: var(--mobile-border-radius);
    margin: 2.5vh 0.5vh;
    padding-bottom: 1.5vh;
    text-align: center;

    border-style: solid;
    border-width: 1vw;
    border-color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2.5vh;
}

.tabataCycleNumber{
    font-size: 8vh;
    font-weight: bold;
}


.display{
    width: var(--mobile-width);
    height: calc(var(--countdownBtnsHeight)*1.1);
    border-radius: var(--mobile-border-radius);
    margin: 0.5vh;
    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-weight: bold;
    font-size: 5vh;
    letter-spacing: -1px;
}


/* MISC*/
.misc{
    height: var(--miscBtnsHeight);
    width: calc(var(--mobile-width)/2.4);
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* START/STOP BUTTON*/

.startStopBtn{
    width: var(--mobile-width);
    height: var(--startStopBtnHeight);
    border-radius: var(--mobile-border-radius);
    margin: 0.5vh;


    background-color: whitesmoke;

    border-style: solid;
    border-width: 1vw;
    border-color: antiquewhite;

    font-size: 8vh;
    font-weight: bold;
    text-align: center;
    line-height: calc(var(--startStopBtnHeight)*0.825);
}

/* DONE BUTTON */

.doneBtn{
    width: var(--mobile-width);
    height: calc(var(--startStopBtnHeight)*0.5);
    border-radius: var(--mobile-border-radius);
    margin: 0.5vh;

    color: rgb(157, 156, 156);
    background-color: rgb(25, 24, 24);

    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    line-height: calc(var(--startStopBtnHeight)*0.5);
}

.defaultBtn{
    width: calc(var(--mobile-width)/3.1);
    height: calc(var(--startStopBtnHeight)*0.5);
    border-radius: var(--mobile-border-radius);
    margin: 0.5vh;

    color: rgb(157, 156, 156);
    background-color: rgb(25, 24, 24);

    font-size: 3vh;
    font-weight: bold;
    text-align: center;
    line-height: calc(var(--startStopBtnHeight)*0.5);
}

.controlPlusMinusContainer{
    justify-content: center;
}


.controlPlusMinusBtn{
    color: rgb(157, 156, 156);
    background-color: rgb(25, 24, 24);
    width: calc(var(--mobile-width)/4.1);
    height: calc(var(--startStopBtnHeight));
    border-radius: var(--mobile-border-radius);
    margin: 0.5vh;
    text-align: center;
    line-height: calc(var(--startStopBtnHeight)*0.9);

    font-size: 8vh;
    font-weight: bold;
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    25%   { opacity:1; }
    50%  { opacity:0; }
    75%   { opacity:1; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    25%   { opacity:1; }
    50%  { opacity:0; }
    75%   { opacity:1; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    25%   { opacity:1; }
    50%  { opacity:0; }
    75%   { opacity:1; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    25%   { opacity:1; }
    50%  { opacity:0; }
    75%   { opacity:1; }
    100% { opacity:1; }
  }
  .animate-flicker {
     -webkit-animation: flickerAnimation .5s infinite;
     -moz-animation: flickerAnimation .5s infinite;
     -o-animation: flickerAnimation .5s infinite;
      animation: flickerAnimation .5s infinite;
  }

  /* About */
    .aboutContainer{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 3vh;
        width: var(--mobile-width);
        color: grey;
        
        margin: 0.5vh;
    
    }

    .aboutContainer h1{
        font-size: 4vh;
    }
    .aboutContainer h2{
        font-size: 2.5vh;

    }
    .aboutContainer p{
        font-size: 1.5vh;
    }

    .developed{
        position: absolute;
        bottom: 5vh;
        left: 5vw;
        color: grey;
        font-size: 1.5vh;
    }


    .clickable{
        cursor:pointer;
    }

    .nonSelectable{
        -webkit-user-select: none; /* Safari */        
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+/Edge */
        user-select: none; /* Standard */
    }

    .settingsContainer{
         display: flex;
         flex-direction: row;
         align-items: center;
    }

    .margin-left{
        margin-left: 1vw;
    }



/* Adjustment for medium screens */

@media (min-width: 640px) and (max-width: 1465px) { 

    .horizontalContainer{
        width: var(--medium-screen-width);
    }
    .countdownBtn{
        width: var(--medium-screen-width);
        height: calc(var(--countdownBtnsHeight)/3.2);
    }
    .countdownBtnItems{
        margin: 0 4vw;
        font-size: 5vh;
    }
    .countdownDisplayItems{
        margin: 0 5vw;
        font-size: 17vh;
    }

    .prepare{
        border-width: 0.4vw;
    }
    
    .work{
        border-width: 0.4vw;
    }
    
    .rest{
        border-width: 0.4vw;
    }

    .wait{
        border-width: 0.4vw;
    }

    /* TABATAS-CYCLES*/

   

    .tabatas,.cycles{
        width: calc(var(--medium-screen-width)/2.4);

        margin: 1.5vh 0.5vh;
        padding-bottom: 1.5vh;
        border-width: 0.4vw;
    }

    .tabataCycleNumber{
        font-size: 7vh;
    }
    
    .display{
        width: var(--medium-screen-width);
        height: calc(var(--countdownBtnsHeight)*1.1);
        border-radius: var(--mobile-border-radius);
        margin: 0.5vh;
        padding: 5px;

        font-size: 5vh;
        letter-spacing: -1px;
    }
    /* MISC*/
    .misc{
        height: var(--miscBtnsHeight);
        width: calc(var(--medium-screen-width)/2.4);
    }

    /* START/STOP BUTTON*/

    .startStopBtn{
        width: var(--medium-screen-width);
        border-width: 0.4vw;
    }


    /* DONE BUTTON */

    .doneBtn{
        width: var(--medium-screen-width);
        height: calc(var(--startStopBtnHeight)*0.5);
        border-radius: var(--mobile-border-radius);
        margin: 0.5vh;


        font-size: 3vh;
        line-height: calc(var(--startStopBtnHeight)*0.5);
    }


    .defaultBtn{
        width: calc(var(--medium-screen-width)/3.1);
        height: calc(var(--startStopBtnHeight)*0.5);
        border-radius: var(--mobile-border-radius);
        margin: 0.5vh;
    
  
        font-size: 3vh;
        line-height: calc(var(--startStopBtnHeight)*0.5);
    }

    /* About */
    .aboutContainer{
        gap: 5vh;
        width: var(--medium-screen-width);
    }

    .aboutContainer h1{
        font-size: 5vh;
    }
    .aboutContainer h2{
        font-size: 3vh;
    }
    .aboutContainer p{
        font-size: 2vh;
    }

    .developed{
        left: 15vw;
    }
}


/* Adjustment for wider screens */

@media (min-width: 1465px) { 

    .horizontalContainer{
        width: var(--large-screen-width);
    }
    .countdownBtn{
        width: var(--large-screen-width);
        height: calc(var(--countdownBtnsHeight)/3.2);
    }

    .countdownBtnItems{
        margin: 0 4vw;
        font-size: 5vh;
    }

    .countdownDisplayItems{
        margin: 0 5vw;
        font-size: 17vh;
    }

    .prepare{
        border-width: 0.2vw;
    }
    
    .work{
        border-width: 0.2vw;
    }
    
    .rest{
        border-width: 0.2vw;
    }

    .wait{
        border-width: 0.2vw;
    }

    /* TABATAS-CYCLES*/

   

    .tabatas,.cycles{
        width: calc(var(--large-screen-width)/2.4);

        margin: 1.5vh 0.5vh;
        padding-bottom: 1.5vh;
        border-width: 0.2vw;
    }

    .tabataCycleNumber{
        font-size: 7vh;
    }

    
    .display{
        width: var(--large-screen-width);
        height: calc(var(--countdownBtnsHeight)*1.1);
        border-radius: var(--mobile-border-radius);
        margin: 0.5vh;
        padding: 5px;

        font-size: 5vh;
        letter-spacing: -1px;
    }
    /* MISC*/
    .misc{
        height: var(--miscBtnsHeight);
        width: calc(var(--large-screen-width)/2.4);
    }

    /* START/STOP BUTTON*/

    .startStopBtn{
        width: var(--large-screen-width);
        border-width: 0.2vw;
    }


    /* DONE BUTTON */

    .doneBtn{
        width: var(--large-screen-width);
        height: calc(var(--startStopBtnHeight)*0.5);
        border-radius: var(--mobile-border-radius);
        margin: 0.5vh;


        font-size: 3vh;
        line-height: calc(var(--startStopBtnHeight)*0.5);
    }


    .defaultBtn{
        width: calc(var(--large-screen-width)/3.1);
        height: calc(var(--startStopBtnHeight)*0.5);
        border-radius: var(--mobile-border-radius);
        margin: 0.5vh;
    
  
        font-size: 3vh;
        line-height: calc(var(--startStopBtnHeight)*0.5);
    }


    /* About */
    .aboutContainer{
        width: var(--large-screen-width);
    }

    .aboutContainer h1{
        font-size: 5vh;
    }
    .aboutContainer h2{
        font-size: 3vh;
    }
    .aboutContainer p{
        font-size: 2vh;
    }

    .developed{
        left: 30vw;
    }


}