
:root{
    --countdownBtnHeight: 40vh;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Flexbox classes */
.verticalContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 0.5vh;
}

.margintop-5vh{
    margin-top: 5vh;
}

.horizontalContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90vw;
}

/* MOBILE FIRST */
/* PREPARE-WORK-REST*/
.countdownBtn{
    width: 90vw;
    height: calc(var(--countdownBtnHeight)/3.2);
    border-radius: 1vh;
    margin: 0.5vh;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}

.countdownBtnItems{
    margin: 0 5vw;
    font-size: 8vw;
    font-weight: bold;
}

.prepare{
    background-color:gold;
    border-style: solid;
    border-width: 1vw;
    border-color: goldenrod;
}

.work{
    background-color: red;
    border-style: solid;
    border-width: 1vw;
    border-color: crimson;
}

.rest{
    background-color: green;
    border-style: solid;
    border-width: 1vw;
    border-color: rgb(0, 96, 0);
}
/* TABATAS-CYCLES*/

.tabatas,.cycles{
    background-color: whitesmoke;
    width: 35vw;
    height: calc(var(--countdownBtnHeight)/2.4);
    border-radius: 1vh;
    margin: 1.5vh 0.5vh;
    padding: 5px;
    text-align: center;

    border-style: solid;
    border-width: 1vw;
    border-color: antiquewhite;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabataCycleNumber{
    font-size: 15vw;
    font-weight: bold;
}





/* Adjustment for wider screens */

@media (min-width: 600px) { 
    .countdownBtn{
        width: 40vw;
        height: calc(var(--countdownBtnHeight)/3.2);
    }

    .countdownBtnItems{
        margin: 0 4vw;
        font-size: 2.5vw;
        font-weight: bold;
    }

    .prepare{
        background-color:gold;
        border-style: solid;
        border-width: 0.2vw;
        border-color: goldenrod;
    }
    
    .work{
        background-color: red;
        border-style: solid;
        border-width: 0.2vw;
        border-color: crimson;
    }
    
    .rest{
        background-color: green;
        border-style: solid;
        border-width: 0.2vw;
        border-color: rgb(0, 96, 0);
    }



}